.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* You can add global styles to this file, and also import other style files */

.content{
  padding-top: 10vh;
  padding-left: 3%;
    padding-right: 3%;
}

.fa{
  padding-top: 4%;
  color: #37b754 ;
}

.form-error{
  color:red;
}

.toast-container .toast {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: white !important;
  opacity: 1;
}

.toast-success {
  background-color: green !important;
}

.toast-error {
  background-color: #fd0000d4 !important;
}

.btn-primary {
    color: #fff;
    background-color: #37b754  !important;
    border-color: #37b754  !important;
    }



.ngx-pagination {
    padding-left: 0;
    background-color: #535355;
    margin-top: 3rem;
    box-shadow: 0px 8px 2px -3px rgba(16, 1, 1, 0.42);
    color: white;
    text-align: center;
  }

  .ngx-pagination a, .ngx-pagination button {
    cursor: pointer;
    color: white !important;
    font-size: 20px;
}

.ngx-pagination li {
    display: inline-block;
    margin-left: 5% !important;
    color: white;
    }

    .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #3e3a3a !important;
    font-size: 22px;
  }

.pre-loader{
   background: rgba(249, 249, 249, 1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.pre-loader .full-loader{
  margin: -75px 0 0 -75px;
  padding: 20px;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-size: 130px;
  box-shadow: -1px 24px 26px -22px rgba(0,0,0,0.75);
   background: url(/assets/loadernew.gif) 50% 50% no-repeat;
}

.parallax{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  z-index: -9999;
  width: 100%;
  position: absolute;
  margin: -4%;
}